.foot {
    font-size: 1.5rem;
    padding: 30px 0;
    background-color: #000;
    color: grey;
}
.divFooter{
    display: inline-block;
    float: left;
}
@media (min-width: 400px) and (max-width: 799px) {
    .marginBlock {
        margin-bottom: 30px
    }
}

@media (min-width: 800px) {
    .marginBlock {
        margin-bottom: 50px
    }
}