.mors {
    background-color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    height: 100vh;
    height: calc(100vh);
    top: -60px;
    position: relative;
    overflow: hidden
}
.autoSize {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 101%;
    min-height: 101%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}
.morsOverlay {
    background-color: rgba(0, 0, 0, .3);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.h1Onvideo{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}
.divBanner{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.h1Banner {
    font-size: 10rem;
    font-size: 9vh;
    line-height: 1;
    color: #fff;
    padding: 0 15%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    visibility: visible;
}